#left-contact {
	padding-top:20px;
	padding-left: 20px;
	text-align:center;
	float:left;
	width:300px;
}

#right-contact {
	padding-top:20px;
	width:400px;
	float:right;
	clear:right;
}
label {
	color: #4a6162;
	font-family: Book Antiqua;
	font-style: italic;
	text-align: center;
}

#contact-form { padding-left: 30px; }

.form-div {margin-bottom:15px;float:left;}
.form-div img {float:left; margin:0 5px}
#name-error, #mob-error, #msg-error, #email-error {display:none}
.red-border {border: 1px solid red;}
#content label {width:150px;float:left;text-align:left}

#content input,textarea,select {width:200px;float:left;margin-top:3px}