#left-contact {
	padding-top: 20px;
	padding-left: 20px;
	float: left;
	width: 380px;
}

#right-contact {
	padding: 20px 0 0 10px;
	width: 390px;
	float: right;
	clear: right;
}

label {
	color: #4a6162;
	font-family: Book Antiqua;
	font-style: italic;
	text-align: center;
}


.form-div {
	margin-bottom: 15px;
	float: left;
}

.form-div img {
	float: left;
	margin: 0 5px
}

#name-error, #mob-error, #msg-error, #email-error {
	display: none;
	float: left;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	width: 300px;
}

.red-border {
	border: 1px solid red;
}

#content label {
	width: 150px;
	float: left;
	text-align: left
}

#content input, textarea, select {
	clear: left;
	width: 300px;
	float: left;
	margin-top: 3px
}